= form_tag jobs_path, :method => "get", class: 'form-horizontal', id: "search-form" do
  .input-append
  = text_field_tag :skills, :title, params[:skills][:title], class: "form-control", placeholder: "Rails, Javascript, Developer, . .."
  %br
  %button.btn.btn-default{:type => "submit", :name => nil}
    %i.glyphicon.glyphicon-search


/ = simple_form_for :search, html: { class: 'form-horizontal'}, :method => :get  do |f|

/   = f.input :search, as: :search,:id="autocomplete" ,placeholder: "Search by title, position, skills, keywords"
/   %br/
/   = f.button :submit, :name => nil,  class: "btn btn-default"

/ = link_to_function "Clear", "$('autocomplete').clear()"
/   =f.input :search
/   =f.submit "Search"