.container
  .row.col-md-6.col-md-offset-1
    %h1 Welcome to Conscious Coding
    %p  This is the resource for developers and othercreative professionals to find meaningful work.  We specialize in listing jobs in nonprofits and charities.  We also include volunteer opportunities
  .row.col-md-4.col-md-offset-1
    %h3 Why Conscious Coding?
