.container
  .row.col-md-6.col-md-offset-2
    %h2 Welcome to Conscious Coding
    %p.text-justify  This is the resource for developers and othercreative professionals to find meaningful work.  We specialize in listing jobs in nonprofits and charities.  We also include volunteer opportunities
    %h3 Why Conscious Coding?
    %p.text-justify  At Conscious Coding, we strive to find the best people for the best jobs.  We think you'll love Conscious Coding for the folowing reasons
    %ul.text-justify 
      %li
        %strong We are free for Job-Seekers!
      Every resource on this site is available for job-seekers to find the meaningful work their looking for quickly and easily.
    %ul.text-justify 
      %li 
        %strong We are almost free for Organizations
      Compared with other job boards out there CC is extrememely competitive.  We want your organization to be able to reach out to like-minded candidates and we're not going to let hefty-posting fees get in the way.  We do have expenses, so we can't be completely free, but we do our best
    %ul.text-justify 
      %li 
        %strong Connect with those that share your values
      You spend a lot of time at work and what better way to spend that time than with others who get what you're trying to accomplish in life.  Work with amazing people on amazing projects
    %ul.text-justify 
      %li 
        %strong Volunteer Opportunities
      Many of the organizations on this site offer volunteer opportunities for those who want to give back with their free time.  These opportunities are
      %strong free
      to post!