.container
  .row.col-md-8
    %h1 Welcome to Conscious Coding

    %p Are you ready to program with a purpose?
  .row.col-md-4
    .input-group
    / =simple_form_for :search, url: search_path(:search), :method => :get  do |f|
    / =f.input :search
    / =f.submit "Search"

 


