.container
  .row.col-md-10.col-md-offset-1
    %h1 Welcome to Conscious Coding

    %p Are you ready to program with a purpose?
  .row.col-md-4
    .input-group
    / =simple_form_for :search, url: search_path(:search), :method => :get  do |f|
    / =f.input :search
    / =f.submit "Search"
.container




.container
  .row.col-md-10.col-md-offset-1
    %p
    %span.label.label-default Latest Jobs
    
  /   %table.table.table-striped.table-hover
  /     %tr 
  /       %thead
  /         %th Posted On
  /         %th Job Title
  /         %th 
  /           Location
  /           %i.glyphicon.glyphicon-map-marker
  /         %th 
  /           Schedule
  /           %i.glyphicon.glyphicon-time 
     
  /     %tr
  /     - @jobs.each do |job|
  /       %tr
  /         %td= job.created_at
  /         %td= link_to job.title, job
  /         %td= job.location
  /         %td= job.job_type
  /       %tr
  / %br