%container
%row
%h1 Welcome to Conscious Coding

%p Are you ready to program with a purpose?


- if current_applicant
  .alert.alert-success
    Hurray!
- else
  not logged in.
%container
  %row.col-md-8.input-group
    %input.form-control{:placeholder => "Search for jobs", :type => "text", class: "fa fa-search"}/
    %br
    %button.btn.btn-default.btn-sm{:type => "submit"} Submit
    %i.fa.fa-search

/ -@jobs.each do |job|
/   %h2= link_to job.title, job
/   %p= job.title

/   = link_to "New Job", new_job_path
        
