.container
  .row.col-md-10.col-md-offset-1
    %h1 Welcome to Conscious Coding

    %p Are you ready to program with a purpose?
    = render partial: "jobs/search"
.container




.container
  .row.col-md-10.col-md-offset-1
    %p
    %span.label.label-default Latest Jobs
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th 
            Posted On
            %i.glyphicon.glyphicon-calendar
          %th Job Title
          %th 
            Location
            %i.glyphicon.glyphicon-map-marker
          %th 
            Schedule
            %i.glyphicon.glyphicon-time 
      %tbody
        = render @jobs