/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap"; 
@import "flatly";

body{
  padding-top: 70px;
  padding-bottom: 70px;
  border-color: #B2D1D1;
  font-family: "Open Sans", sans-serif;
  height: 100%;
/*background: -webkit-linear-gradient(90deg, #2c3e50 5%, #F0F6F6 95%);
  background:    -moz-linear-gradient(90deg, #2c3e50 5%, #F0F6F6 95%);
  background:     -ms-linear-gradient(90deg, #2c3e50 5%, #F0F6F6 95%);
  background:      -o-linear-gradient(90deg, #2c3e50 5%, #F0F6F6 95%);
  background:         linear-gradient(90deg, #2c3e50 5%, #F0F6F6 95%);
*/
 }

 h1,h2,h3,h4,h5,h6{
  font-family: "Open Sans", sans-serif;
  color: #004747;
  margin-left: -15px;
 }


li.header {
  font-size: 2em;
}

.navbar-fixed-top {
  padding-right: 10px;
  height: 50px;

}
.navbar-default {
  background: -webkit-linear-gradient(80deg, #2c3e50 5%, #78848F 95%);
  background:    -moz-linear-gradient(80deg, #2c3e50 5%, #78848F 95%);
  background:     -ms-linear-gradient(80deg, #2c3e50 5%, #78848F 95%);
  background:      -o-linear-gradient(80deg, #2c3e50 5%, #78848F 95%);
  background:         linear-gradient(80deg, #2c3e50 5%, #78848F 95%);
}

.navbar-inverse {
  width: 100%;
  border: #B2D1D1;
  height: 40px;
}

li.category_dropdown {
  padding: 5px;
}

a.select2-choice, .select2-drop-mask, #select2-drop-mask, .select2-search {
   width: inherit;
   margin: -15px;
}

a:hover {
  color: #4D7E7E;
}


#footer.navbar-collapse {
  border-color: #B2D1D1;
  background: -webkit-linear-gradient(80deg, #149c82 5%, #B2D1D1 95%);
  background:    -moz-linear-gradient(80deg, #149c82 5%, #B2D1D1 95%);
  background:     -ms-linear-gradient(80deg, #149c82 5%, #B2D1D1 95%);
  background:      -o-linear-gradient(80deg, #149c82 5%, #B2D1D1 95%);
  background:         linear-gradient(80deg, #149c82 5%, #B2D1D1 95%);
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;

  }


a {
  color: #004747;
}

.copyright {
  font-size: .85em;
  text-align: center;
  color: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  position:absolute;
  margin-top: 30px;
  margin-right: 10px;
  color: #fff
}

.intro {
  padding: 5px;
}

.inner {
  padding: 5px;
}

th {
  width: 250px;
}



















