/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap"; 
@import "spacelab";

body{
   padding-top: 70px;
   font-family: "Open Sans", sans-serif;
    height: 100%;
    background: -webkit-linear-gradient(90deg, #B2D1D1 10%, #F0F6F6 90%);
    background:    -moz-linear-gradient(90deg, #B2D1D1 10%, #F0F6F6 90%);
    background:     -ms-linear-gradient(90deg, #B2D1D1 10%, #F0F6F6 90%);
    background:      -o-linear-gradient(90deg, #B2D1D1 10%, #F0F6F6 90%);
    background:         linear-gradient(90deg, #B2D1D1 10%, #F0F6F6 90%);

 }

 h1,h2,h3,h4,h5,h6{
  font-family: "Open Sans", sans-serif;
  color: #004747;
  margin-left: -10px;
 }
 .container {
   /*border-bottom: 1px dotted #7C7C7C;*/
   margin-bottom: 30px;
 }

li.header {
  font-size: 2em;
}

nav.navbar-fixed-top {
  padding-right: 10px;

}

.navbar.navbar-inverse {
  width: 100%;
}
a.select2-choice, .select2-drop-mask, #select2-drop-mask, .select2-search {
   width: inherit;
}
#srch-term {
  height:30px;
  padding: 10px;
}

.search-button{
  height:30px;
}


#footer > {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 60px;
}

#footer.navbar-collapse {
  border-color: none;
  background: -webkit-linear-gradient(90deg, #006666 10%, #B2D1D1 90%);
  background:    -moz-linear-gradient(90deg, #006666 10%, #B2D1D1 90%);
  background:     -ms-linear-gradient(90deg, #006666 10%, #B2D1D1 90%);
  background:      -o-linear-gradient(90deg, #006666 10%, #B2D1D1 90%);
  background:         linear-gradient(90deg, #006666 10%, #B2D1D1 90%);

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #006666;
}

a {
  color: #004747;
}

.copyright {
  font-size: .85em;
  text-align: center;
  color: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  position:absolute;
  margin-top: 30px;
  margin-right: 10px;
  color: #fff
}

.intro {
  padding: 5px;
}

.inner {
  padding: 5px;
}

th {
  width: 250px;
}



















