%footer#footer
  .navbar.navbar-inverse.navbar-fixed-bottom{role: "navigation"}
    %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => "#footer"}
      %span.sr-only 
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-collapse.collapse#footer
      %ul.nav.navbar-nav.small
        %li
          %a{:href => "#"} Contact Us
        %li
          %a{:href => "#"} Terms and Conditions
        %li
          %a{:href => "#"} Privacy Policy
      %ul.nav.navbar-nav.pull-right
        %li.copyright © Conscious Coding